.aa {
    height: 100%;
    display: flex;
    flex-direction: column;
    .operate {
        height: 42px;
        display: flex;
        .ant-btn {
            margin-bottom: 10px;
        }
    }
    .ant-table-wrapper{
        flex: 1;
        .ant-spin-nested-loading,.ant-spin-container{
            height: 100%;
            flex-direction: column;
            position: relative;
            .ant-table{
               position: absolute;
               top: 0;
               width: 100%;
               bottom: 64px;
               overflow: hidden;
               .rowActive{
                background: #d8e8fa;
            }
            }
            .ant-pagination{
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
        
    }
}

.model {
    .ant-row.ant-form-item {
        padding: 0 20px;
        display: flex;
    }
    .ant-form-item-control-wrapper {
        display: inline-block;
        flex: 1;
    }
    .ant-form-item-label {
        width: 80px;
    }
}

